body{
     font-family: 'Poppins', sans-serif;
}
.background-image{
     background-image:url(images/donation9.jpg);
     background-repeat: no-repeat;
     width: 100%;
     background-size: cover;
     height:450px ;
}
.container{
     color: white;
     text-align: center;
     padding: 30px;
}
.h1-style{
     font-size: 30px;
     font-weight: bold;
}
.button-style{
     text-decoration: none;
     background-image: linear-gradient(pink, red);
     padding: 5px 15px;
     border-radius: 5px;
     color: white;
}
.donate-center{
     text-align: center;
     padding: 30px;
}
h3{
     display: inline-block;
     margin-left:10px;
     background-color: azure;
     padding: 30px;
}
.h3-margin{
     margin-left: 20%;
}
.donate-today{
     border: 2px solid red;
     background-color: pink;
}
.p-center{
     margin-left: 29%;
}
.a-center{
     margin-left: 31%;
     margin-top: 10px;
}
hr{
     width: 73%;
     margin-left: 1%;
     margin-bottom: 35px;
     
}
